body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
  }
  
  .statscontainer {
    background-color: rgb(255, 255, 255); 
    padding: 40px 20px;
    color: var(--theme-color);
    text-align: center;
  }
  
  .statscontainer h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  .statsrow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 140px;
  }
  
  .statcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
    border: 1px solid lightgray;
  
    /* Adding a box shadow */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .staticon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  
  .statcard h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .statcard p {
    font-size: 20px;
    margin: 0;
     text-align: center;
      
  }
  
  @media (max-width: 768px) {
    .statsrow {
      gap: 10px;
    }
  
    .statcard {
      max-width: 120px;
    }
  
    .statcard h3 {
      font-size: 1.3rem;
    }
  
    .statcard p {
      font-size: 0.9rem;
     
    }
  }
  