.container {
  display: grid;
  flex-direction: row;
  background-color: #f9f9f9;
  color: #333;
}


.header {
  text-align: center;
  padding: 20px 0;
  background-color: var(--theme-color);
  color: white;
  font-size: 30px;
}

.viewAllButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
}


.content {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  color: #333;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar ul li:hover {
  background-color: #f1f1f1;
}

.sidebar ul .active {
  background-color: var(--theme-color);
  color: white;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: var(--theme-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar button:hover {
  background-color: #0056b3;
}

.mainContent {
  flex: 1;
  padding: 20px;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  
  width: 100%;
}


.booksGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  justify-content: center;
  padding: 0 20px;
}

.bookCard {
  text-align: center;
  background-color: #fefefe;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.bookCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bookCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.bookCard h4 {
  font-size: 16px;
  margin: 10px 0 5px;
}

.bookCard p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.friendsSection {
  margin-top: 20px;
}

.friendsSection h2 {
  font-size: 16px;
  font-weight: bold;
}

.friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.friend img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend p {
  font-size: 14px;
  color: #555;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.likeButton{
  border: none ;
  border: 1px solid lightgray;
  padding: 8px 10px;
  border-radius: 5px;
  background: transparent;
  color: black;
  cursor: pointer;
  margin-bottom: 10px;
}
.likeButton :hover {
  
  color: red;
  font-weight: bold;
  background-color: var(--theme-color);
}
   
.readButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.readButton:hover {
  background-color: #0056b3;
}

.closeButton {
  background-color: var(--theme-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s ease;
}

.closeButton:hover {
  background-color: #d7cdcd;
}


.viewAllButton:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .booksGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 400px) {
  .bookCard img {
    height: 150px;
  }

  .friend img {
    width: 30px;
    height: 30px;
  }

  .friend p {
    font-size: 12px;
  }
}
