.academicPrograms {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .title span {
    color: var(--theme-color);
    text-decoration: underline;
  }
  
  .categoryTabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tabButton {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .tabButton:hover {
    background-color: #ccc;
  }
  
  .activeTab {
    background-color: var(--theme-color);
    color: #fff;
  }
  
  .programList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .programCard {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    min-height: 100px; 
    padding: 20px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .programImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .programTitle {
    font-size: 16px; 
    font-weight: normal; 
    color: #333;
    margin: 10px 0 5px;
  }
  
  .programDescription {
    font-size: 14px;
    color: #555;
    flex-grow: 1;
    margin-bottom: 10px;
  }
  
  .programCategory {
    font-size: 14px;
    font-weight: 500;
    color: #4CAF50;
    margin-bottom: 15px;
  }
  
  .applyButton {
    background-color: var(--theme-color);
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
  }
  
  .applyButton:hover {
    background-color: #e5533d;
  }
  
  .footerText {
    font-size: 16px;
    color: #666;
    margin-top: 40px;
  }
  
  .viewAllLink {
    color: #B22234;
    font-weight: bold;
    text-decoration: none;
  }
  
  .viewAllLink:hover {
    text-decoration: underline;
  }
  